<!--   ABOUT-ME  -->
  <div class="content-right">

    <div id="about">


      <a href="#/home"><i class="fa fa-hand-o-left fa-lg" aria-hidden="true"></i></a>
      <!-- <h1 class="bio">aboutMe :</h1> -->
      <!-- <p class="paragraph">I'm a frontEnd Engineer, with an extensive background in Landscape<br>
      and Vegetative-roof design, before deciding to jump into the coding world.  I enjoy helping people turn their abstract ideas into reality. <br>
      Html, Css, javaScript, jQuery and Angular are the tools I use now to create simple and intuitive interface designs and help people achieve their visions.<br>

      When I'm not coding; I'm gardening and helping other woman learn how to code. </p>

      <ul>
      <li>
          <img src="assets/images/portfolio-photo.jpg" class="me"/>
      </li>
      </ul> -->



    </div>
  </div>
