<!---   MY IMAGE  -->
<div class="content-right">
<!-- <div class="col-2"> -->
  <div id="img">

    <!-- <img src="assets/images/portfolio-photo.jpg" class="me"/> -->
  <a href="#/home"><span class="fa fa-chevron-circle-left fa-2x"></span></a>

  <p class="paragraph"><span>I</span>'m a Front End Developer and I enjoy helping people turn their abstract ideas into reality. <br><br>
  <img src="assets/images/profile-grad.jpg" class="me"/>
  <span>H</span>TML, CSS, SASS, JavaScript, jQuery and Angular are the tools I use to create
  simple, intuitive and useful interface designs and help people achieve their visions.
  </p>

</div>
<!-- </div> -->
