<!---   MY IMAGE  -->
<div class="content-right">
<!-- <div class="col-2"> -->
  <div id="img">

    <!-- <img src="assets/images/portfolio-photo.jpg" class="me"/> -->
  <a href="#/home"><span class="fa fa-backward" aria-hidden="true"></span></a>

  <p class="paragraph"><span>I</span>'m a Front-End Developer, with an extensive background in Landscape
  and Vegetative-roof design. I enjoy helping people turn their abstract ideas into reality. <br><br>
  <img src="assets/images/portfolio-photo.jpg" class="me"/>
  <span>H</span>TML, CSS, SASS, JavaScript, jQuery and Angular are the tools I use now to create
  simple and intuitive interface designs and help people achieve their visions.
  </p>

</div>
<!-- </div> -->
