<!---   MY IMAGE  -->
<div class="content-right">

  <div id="about"><!--  rename id  -->
  <!-- <a href="#/home"><i class="fa fa-hand-o-left fa-lg" aria-hidden="true"></i></a> -->
  <!-- <h1 class="bio">aboutMe :</h1> -->
  <img src="assets/images/portfolio-photo.jpg" class="me"/>
  <p class="paragraph">I'm a frontEnd Engineer, with an extensive background in<br> Landscape
  and Vegetative-roof design.  I enjoy helping people turn their abstract ideas into reality. <br>
  Html, Css, javaScript, jQuery and Angular are the tools I use now to create
  simple and intuitive interface designs and help people achieve their visions.
   </p>

  <!-- <ul>
  <li> -->

  <!-- </li>
  </ul> -->

   <!-- <img src="assets/images/IMG_3297.jpg" alt=""> -->
</div>
