<!--  PROJECTS  --->
<div class="content-right">

    <!-- <div class="grid grid-pad"> -->
      <div id="projects">

          <a href="#/home"><i class="fa fa-backward" aria-hidden="true"></i></a>
           <ul class="works">

             <li>Ready, Set, Prep</li>
             <a href="http://readysetprep.herokuapp.com/">
               <img src="assets/images/Ready,Set,Prep.png" class="ready"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, BOURBON, jAVASCRIPT, jQUERY, <br>
                RUBY ON RAILS, RAILS ASSET PIPE-LINE, AJAX, API</p>


              <li>Whatsup</li>
              <a href="http://rlgoolsby.github.io/Whatsup/">
                <img src="assets/images/TIY-Chatti-whatsup.png" class="chatti"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, SASS, JQUERY, AJAX, API</p>


              <li>Memory Game</li>
              <a href="https://rlgoolsby.github.io/Memory-Layout-c7/">
                <img src="assets/images/Memory-Game.png" class="mem-game"></a>
              <h2>Project Components: </h2>
              <P> HTML, CSS, JAVASCRIPT, JQUERY</p></li>


              <li>Nested Accordion</li>
              <a href="https://rlgoolsby.github.io/Nested-Accordian-c7/">
                <img src="assets/images/Nested-accordion.png" class="accord"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, SASS, JAVASCRIPT, JQUERY</P>



              <li>Responsive Icon Grid</li>
              <a href="https://rlgoolsby.github.io/responsive-icon-grid-c7/">
                <img src="assets/images/Responsive-icon-grid.png" class="respon"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, SASS</P>





           </ul>
          <a href="#/home"><i class="fa fa-backward" aria-hidden="true"></i></a>

         </div>


      </div>

  <!-- </div> -->
