<!--  PROJECTS  --->
<div class="content-right">

    <!-- <div class="grid grid-pad"> -->
      <div id="projects">

          <a href="#/home"><i class="fa fa-backward" aria-hidden="true"></i></a>
           <ul class="works">

             <li>Ready, Set, Prep</li>
             <a href="http://readysetprep.herokuapp.com/">
               <img src="assets/images/Ready,Set,Prep.png" class="ready"></a>
              <a href="https://github.com/RLGoolsby/ready-set-prep" class="ghsite"><p>Final Iron Yard Project</p></a>
              <h2>HTML5, CSS3, BOURBON, jAVASCRIPT, jQUERY, <br>
                RUBY ON RAILS, RAILS ASSET PIPE-LINE, AJAX, API</h2>


              <li>Whatsup</li>
              <a href="http://rlgoolsby.github.io/Whatsup/">
                <img src="assets/images/Whatsup:chat-app.png" class="chatti"></a>
              <!-- <h2>Project:</h2> -->
              <p>Responsive chat application</p>
              <h2>HTML5, CSS3, SASS, JQUERY, AJAX, APIs</h2>


              <li>Memory Game</li>
              <a href="https://rlgoolsby.github.io/Memory-Layout-c7/">
                <img src="assets/images/Memory-Game.png" class="mem-game"></a>
              <p>Card matching Game</p>
              <h2>HTML5, CSS3, JAVASCRIPT, JQUERY</h2>


              <li>Nested Accordion</li>
              <a href="https://rlgoolsby.github.io/Nested-Accordian-c7/">
                <img src="assets/images/Nested-accordion.png" class="accord"></a>
              <p>Dropdown accordion panels</p>
              <h2>HTML5, CSS3, SASS, JAVASCRIPT, JQUERY</h2>



              <li>Responsive Icon Grid</li>
              <a href="https://rlgoolsby.github.io/responsive-icon-grid-c7/">
                <img src="assets/images/Responsive-icon-grid.png" class="respon"></a>
              <p>Transform on hover</p>
              <h2>HTML5, CSS3, SASS, BOWER</h2>





           </ul>
          <a href="#/home"><i class="fa fa-backward" aria-hidden="true"></i></a>

         </div>


      </div>

  <!-- </div> -->
