<!--  PROJECTS  --->
<div class="content-right">

    <!-- <div class="grid grid-pad"> -->
      <div id="projects">

          <a href="#/home"><i class="fa fa-hand-o-left fa-lg" aria-hidden="true"></i></a>
           <ul class="works">


              <li>Responsive Icon Grid</li>
              <a href="https://github.com/RLGoolsby/responsive-icon-grid-c7/tree/gh-pages">
                <img src="assets/images/Responsive-icon-grid.png" class="respon"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, SCSS</P>



              <li>Nested Accordian</li>
              <a href="https://github.com/RLGoolsby/Nested-Accordian-c7/tree/gh-pages"><img src="assets/images/Nested-accordion.png" class="accord"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, SCSS, JAVASCRIPT, JQUERY</P>



              <li>Memory Game</li>
              <a href="https://github.com/RLGoolsby/Memory-Layout-c7/tree/gh-pages/"><img src="assets/images/Memory-Game.png" class="mem-game"></a>
              <h2>Project Components: </h2>
              <P> HTML, CSS, JAVASCRIPT, JQUERY</p></li>

              <li>TIY-Chatti whatsup</li>
              <a href="https://github.com/tiyd-fee-2016-05/TIY-Chatti-whatsup/tree/gh-pages"><img src="assets/images/TIY-Chatti-whatsup.png" class="chatti"></a>
              <h2>Project Components:</h2>
              <p> HTML, CSS, SCSS, JQUERY, AJAX</p>

           </ul>
         </div>


      </div>

  <!-- </div> -->
