$ffamily: "Open Sans Condensed", Verdana, sans-serif;

body{
  height: 100%;
  width:100%;
  background-color: lightcyan;
}





/*******    HOME PAGE  *********/

#mainpage{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  top: 0;
  min-width: 320px;

}

/** HEADER **/
  .header{
    border-bottom:  14px;
    border-left: 8px;
    border-color: lightgrey;
    border-bottom-style: outset;
    border-left-style: outset;
    padding-bottom: 1em;
    background-image: url("http://www.ilikewallpaper.net/ipad-wallpapers/download/29693/Abstract-Simple-Green-Gradient-ipad-wallpaper-ilikewallpaper_com.jpg");
    // background-color: #00D4D4;
  }


/** RHONDA GOOLSBY **/
  .my-name{
    font-family: $ffamily;
    margin-top: 0.3em;
    margin-left: 0.2em;
    text-align: left;
    font-size: 6em;
  }


/** FRONT-END DEVELOPER **/
  .title{
    font-family: $ffamily;
    padding-top: 0.5em;
    margin-left: 0.4em;
    text-align: left;
    font-size: 3.5em;
  }


/** rlgoolsby@gmail.com **/
  .email{
    margin-left: 2em;
    font-size: 0.5em;
    color: black;
  }


/** 3 ICONS IN HEADER: GITHUB, LINKEDIN, AND EMAIL **/
  i{
    padding-right: 0.1em;
    color: black;
  }
/** STYLING FOR 3 ICONS **/
  .hrefaddress{
    float: right;
    margin-top: 1.5em;
    margin-right: 2em;
    font-size: 2em;
  }
/** Github **/
  .fa.fa-github{
    font-size: 0.9em;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }
/** linkedin **/
  .fa.fa-linkedin{
    font-size: 0.9em;
    padding-left: 0.3em;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }
/** EMAIL **/
  .fa.fa-envelope{
    font-size: 0.8em;
    padding-left: 0.3em;
    cursor: pointer;
    &:hover{
      color: #fff;
    }
  }
/** HREF LINKS FOR ICONS **/
  a{
    text-decoration: none;
    color: black;
    font-size: 1.8em;
  &:hover{
    color: #fff;
    cursor: pointer;
    -webkit-filter: drop-shadow(3px 3px 7px #043630);
    }
  }
/********** END OF HEADER ************/


/** DECORATIVE LEAVES BELOW HEADER BANNER **/
  .fa.fa-leaf{
    text-align: left;
    color: #55BAB6;
    margin-top: 1.2em;
    // margin-bottom: 0.4em;
    padding-left: 0.5em;
    padding-right: 1em;
  }


/** PROJECTS AND ABOUT ME **/
    .links{
      font-size: 2.1em;
      font-weight: bolder;
      margin-left: 1em;
      font-family: $ffamily;
    }

/** PROJECTS.HTML VIEW **/
    .projects{
      display: flex;
      border-left: 3px;
      border-bottom: 6px;
      border-bottom-style: outset;
      border-left-style: outset;
      border-radius: 5px;
      border-color: lightgrey;
      font-size: 0.6em;
      margin-left: 3em;
      padding-bottom: 0.2em;
      padding-top: 0.2em;
      background-color: lightcyan;

      &:hover{
        color: #55BAB6;
        cursor: pointer;
        -webkit-filter: drop-shadow(3px 3px 10px #043630);
      }
    }
/** BIO.HTML VIEW **/
      .about{
        display: flex;
        border-left: 3px;
        border-bottom: 6px;
        border-bottom-style: outset;
        border-left-style: outset;
        border-radius: 5px;
        border-color: lightgrey;
        font-size: 0.6em;
        margin-top: 0.8em;
        margin-left: 4em;
        padding-bottom: 0.2em;
        padding-top: 0.2em;
        background-color: lightcyan;

        &:hover{
          color: #55BAB6;
          cursor: pointer;
          -webkit-filter: drop-shadow(7px 7px 14px #043630);
        }

    }

/**  LARGE DECORATIVE LEAVES **/
.one{
  margin-top: 3em;
}
.two{
  margin-left: 7em;
}
.three{
  margin-left: 4em;
}
/********** END OF HOME PAGE **********/





/********** BIO.HTML VIEW **********/
#bio{
  position: absolute;
  background-image: url("http://www.ilikewallpaper.net/ipad-wallpapers/download/29693/Abstract-Simple-Green-Gradient-ipad-wallpaper-ilikewallpaper_com.jpg");
  top: 0.1%;
  border-radius: 5px;
  height: 73em;
/** BACK ARROW TO HOME PAGE **/
    .fa.fa-chevron-circle-left{
    padding-top: 0.5em;
    padding-left: 0.3em;
    }
}
span{
  font-size: 1.5em;
  font-family: $ffamily;
  font-weight: bolder;
}
/** BIO VERBAGE **/
  .paragraph{
    flex-wrap: wrap;
    margin-top: 2em;
    font-family: "Lato", Verdana, sans-serif;
    font-size: 2.4em;
    color: black;
    line-height: 1.2;
    letter-spacing: 0.1em;
  }
/** PHOTO/IMG **/
  .me{
    background-size: cover;
    float: right;
    margin-right: 1em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 300px;
    height: 390px;
  }
/************  END OF BIO.HTML VIEW *******************/





/***********  PROJECTS.HTML VIEW  **********************/

#projects{
  position: absolute;
  top: 0.1%;
  background-color: lightcyan;
  border-radius: 5px;
  width: 100%;
  .fa.fa-chevron-circle-left{
  padding-left: 0.3em;
  padding-bottom: 0.8em;
  }





/*-- PROJECT TITLES --*/
       li{
        font-size: 42px;
        font-family: $ffamily;
        font-weight: bolder;
        border-bottom: 3px solid black;
        margin-bottom: 0.8em;
        margin-top: 6%;
        // display: flex;
        color: black;
        padding-bottom: 0.4em;
        }
/*-- END OF PROJECT TITLES --*/





/*-- INDIVIDUAL PROJECTS --*/
      .ready{
        margin-top: 18px;
        margin-left: 2.5em;
        margin-right: 3em;
        width: 85%;
        border-radius: 6px;
        cursor: pointer;
      }

      .accord{
        margin-top: 18px;
        margin-left: 2.5em;
        margin-right: 3em;
        width: 85%;
        border-radius: 6px;
        cursor: pointer;
      }

      .respon{
        margin-top: 18px;
        margin-left: 2.5em;
        margin-right: 3em;
        width: 85%;
        border-radius: 6px;
        cursor: pointer;
      }

      // .mem-game{
      //   margin-top: 13px;
      //   margin-left: 10px;
      //   width: 85%;
      //   border-radius: 6px;
      //   border-left: 2px solid #FAFCFC;
      //   cursor: pointer;
      //   &:hover{
      //   -webkit-filter: drop-shadow(10px 10px 20px #043630);
      //   }
      // }

      // .chatti{
      //   margin-top: 18px;
      //   margin-left: 2.5em;
      //   margin-right: 3em;
      //   width: 85%;
      //   border-radius: 6px;
      //   cursor: pointer;
      // }

      // .badges{
      //   margin-top: 18px;
      //   margin-left: 2.5em;
      //   margin-right: 3em;
      //   width: 85%;
      //   border-radius: 6px;
      //   cursor: pointer;
      // }
/*-- END OF INDIVIDUAL PROJECTS --*/




/*-- SUBDESCRIPTION OF PROJECT __*/
      p{
        font-family: "Lato", Verdana, sans-serif;
        margin-right: 2em;
        text-align: right;
        // background-color: lightcyan;
        font-weight: bold;
        font-size: 23px;
        }
/*-- END OF SUB DESCRIPTION OF PROJECT --*/



/*-- VISIT GITHUB --*/
        .ghsite1{//Ready Set Prep
          font-family: "Lato", Verdana, sans-serif;
          margin-top: 5px;
          border-radius: 5px;
          cursor:pointer;
          font-size: 21px;
          color: black;
          background-color: lightcyan;
          margin-left: 1em;
          margin-bottom: 0.3em;
          &:hover{
            color: #fff;
            background-color: grey;
          }
        }

        // .ghsite2{  //What's up Chatt App
        //   font-family: "Lato", Verdana, sans-serif;
        //   margin-top: 5px;
        //   border-radius: 5px;
        //   cursor:pointer;
        //   font-size: 21px;
        //   color: black;
        //   background-color: lightcyan;
        //   margin-left: 1em;
        //   margin-bottom: 0.3em;
        //     &:hover{
        //       color: #fff;
        //       background-color: grey;
        //   }
        // }

        // .ghsite3{//Memory Game
        //   font-family: "Lato", Verdana, sans-serif;
        //   margin-top: 5px;
        //   border-radius: 5px;
        //   cursor:pointer;
        //   font-size: 21px;
        //   color: black;
        //   margin-left: 1em;
        //   margin-bottom: 0.3em;
        //   background-color: lightcyan;
        //   &:hover{
        //     color: #fff;
        //     background-color: grey;
        //   }
        // }

        .ghsite4{//Nested Accordion
          font-family: "Lato", Verdana, sans-serif;
          margin-top: 5px;
          border-radius: 5px;
          cursor:pointer;
          font-size: 21px;
          font-weight: normal;
          color: black;
          margin-left: 1em;
          margin-bottom: 0.3em;
          background-color: lightcyan;
          &:hover{
            color: #fff;
            background-color: grey;
          }
        }

        .ghsite5{//Reponsive Grid
          font-family: "Lato", Verdana, sans-serif;
          margin-top: 5px;
          border-radius: 5px;
          cursor:pointer;
          font-size: 21px;
          font-weight: normal;
          color: black;
          margin-left: 1em;
          margin-bottom: 0.3em;
          background-color: lightcyan;
          &:hover{
            color: #fff;
            background-color: grey;
          }
        }


        // .ghsite5{//The Badges
        //   font-family: "Lato", Verdana, sans-serif;
        //   margin-top: 5px;
        //   border-radius: 5px;
        //   cursor:pointer;
        //   font-size: 13px;
        //   color: black;
        //   margin-left: 1em;
        //   &:hover{
        //     background-color: grey;
        //   }
        // }
/*-- END OF VISIT GITHUM --*/



/*--  VISIT SITE --*/

        .vs1{
          font-family: "Lato", Verdana, sans-serif;
          font-size: 22px;
          font-weight: normal;
          cursor: pointer;
          border-radius: 5px;
          background-color: grey;
          margin-right: 2em;
          &:hover{
            color: #fff;
          }

        }

        // .vs2{
        //   font-family: "Lato", Verdana, sans-serif;
        //   font-size: 22px;
        //   font-weight: normal;
        //   cursor: pointer;
        //   border-radius: 5px;
        //   background-color: grey;
        //   margin-right: 2em;
        //   &:hover{
        //     color: #fffo
        //   }
        // }

        // .vs3{
        //   font-family: "Lato", Verdana, sans-serif;
        //   font-size: 22px;
        //   font-weight: normal;
        //   cursor: pointer;
        //   border-radius: 5px;
        //   background-color: grey;
        //   margin-right: 2em;
        //   &:hover{
        //     color: #fffo
        //   }
        // }


        .vs4{  //Nested accordion
          font-family: "Lato", Verdana, sans-serif;
          font-size: 22px;
          font-weight: normal;
          border-radius: 5px;
          background-color: grey;
          margin-right: 2em;
          &:hover{
            color: #fff;
          }
        }

        h5{
          font-size: 16px;
          letter-spacing: 0.3em;
        }

        .vs5{
          font-family: "Lato", Verdana, sans-serif;
          font-size: 22px;
          font-weight: normal;
          cursor: pointer;
          border-radius: 5px;
          background-color: grey;
          margin-right: 2em;
          &:hover{
            color: #fff;
          }
        }

        // .vs6{
        //   font-family: "Lato", Verdana, sans-serif;
        //   font-size: 22px;
        //   font-weight: normal;
        //   cursor: pointer;
        //   border-radius: 5px;
        //   background-color: grey;
        //   margin-right: 2em;
        //   &:hover{
        //     color: #fff;
        //   }
        // }
      }
/*-- END OF VISIT SITE --*/


/*-- PROJECT TOOLS --*/
        h2{
          font-family: "Lato", Verdana, sans-serif;
          font-weight: bold;
          line-height: 2;
          letter-spacing: 1px;
          color: black;
          font-size: 16px;
          padding-top: 2px;
          padding-bottom: 0.5em;
          padding-left: 2em;
          margin-right: 0.5em;
        }

      /*-- END OF PROJECT TOOLS --*/


/***************** END OF PROJECTS VIEW **************/





@media screen
  and (min-device-width: 1200px){

    #mainpage{
      display: flex;
      justify-content: space-around;
     }
     #bio{
       display: flex;
       justify-content: space-around;
     }
     #projects{
       display: flex;
       justify-content: space-around;
     }
}


@media screen and
  (min-device-width: 769px){
    #mainpage{
      display: flex;
      justify-content: space-around;
    }
    #bio{
      display: flex;
      justify-content: space-around;
    }
    #projects{
      display: flex;
      justify-content: space-around;
    }
}


@media screen
  and (min-device-width: 768px){
    #mainpage{
      display: flex;
      justify-content: space-around;
    }
    #bio{
      display: flex;
      justify-content: space-around;
    }
    #projects{
      display: flex;
      justify-content: space-around;
    }
}



@media screen
  and (device-width: 601px){
    #mainpage{
      display: flex;
      justify-content: space-around;
    }
    #bio{
      display: flex;
      justify-content: space-around;
    }
    #projects{
      display: flex;
      justify-content: space-around;
    }
}



@media screen
  and (min-device-width: 414px){
    #mainpage{
      display: flex;
      justify-content: space-around;
    }
    #bio{
      display: flex;
      justify-content: space-around;
    }
    #projects{
      display: flex;
      justify-content: space-around;
    }
}



@media screen
  and (min-device-width: 375px) {
    #mainpage{
      display: flex;
      justify-content: space-around;
    }
    #bio{
      display: flex;
      justify-content: space-around;
    }
    #projects{
      display: flex;
      justify-content: space-around;
    }
}


@media screen
  and (device-width: 320px){
    #mainpage{
      display: flex;
      justify-content: space-around;
    }
    #bio{
      display: flex;
      justify-content: space-around;
    }
    #projects{
      display: flex;
      justify-content: space-around;
    }

}
